<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>Log in</title>
</head>
<body>
    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <!-- Thymeleaf + Spring Security error display -->
            <div th:if="${param.error}" class="alert alert-danger">
                Verkeerde e-mail of wachtwoord.
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                Je bent uitgelogd.
            </div>

            <!-- Login Controls -->
            <div class="form-group">
                <label for="username">E-mail</label>
                <input type="text" class="form-control" id="username" name="username"
                       placeholder="E-mail">
            </div>

            <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Wachtwoord">
            </div>

            <!-- Login Button -->
            <div class="form-actions" style="margin-top: 12px;">
                <button type="submit" class="btn btn-success">Log in</button>
            </div>
        </fieldset>
    </form>
</body>
</html>