<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>Log in</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
    <div th:if="${not #lists.isEmpty(films)}">
        <label>Screenings voor film</label>
        <label th:text="${filmNaam}"></label>
        <table class="table table-striped">
            <tr>
                <th>Datum screening</th>
                <th>Zaal</th>
                <th sec:authorize="hasAnyRole('ROLE_MEDEWERKER','ROLE_GEBRUIKER')">Reserveren</th>
                <th sec:authorize="hasAnyRole('ROLE_MEDEWERKER','ROLE_GEBRUIKER')">Kaartjes</th>
                <th sec:authorize="hasRole('ROLE_MANAGEMENT')">Verwijder</th>
            </tr>
            <tr th:each="film : ${films}">
                <td th:text="${film.datum}"></td>
                <td th:text="${film.zaal}"></td>
                <td sec:authorize="hasAnyRole('ROLE_MEDEWERKER','ROLE_GEBRUIKER')"><a th:href="${'/films/reserveren/' + film.id}">Reserveer kaartje</a></td>
                <td sec:authorize="hasAnyRole('ROLE_MANAGEMENT','ROLE_MEDEWERKER')"><a th:href="${'/film/kaartjes/' + film.id}">Bekijk kaartjes</a> </td>
                <td sec:authorize="hasRole('ROLE_MANAGEMENT')"><a th:href="${'/film/verwijder/' + film.id}">Verwijder</a> </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3" sec:authorize="hasRole('ROLE_MANAGEMENT')">
            <a href="/film/nieuw">Nieuwe screening toevoegen</a>
        </div>
    </div>
</div>

</body>
</html>