<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>Log in</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">

    <h2>Nieuwe zaal toevoegen</h2>
    <div>
        <form class="form-horizontal" method="post" th:action="@{/films/reserveren/opslaan}" th:object="${kaartje}">

            <div class="form-group">
                <label class="col-sm-2 control-label">Film:</label>
                <div class="col-sm-10">
                    <select th:field="*{id}">
                        <option th:each="kaartje : ${alleKaartjes}" th:value="${kaartje.id}" th:text="'Rij ' + ${kaartje.rij} + ' stoel ' + ${kaartje.stoel}"></option>
                    </select>
                </div>
            </div>


            <div class="row">
                <button type="submit" class="btn btn-default">Verstuur</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>